body {
    padding: 0;
    margin: 0;
    margin-top: 64px;
    background: #eaeaea;
}

.hidden {
    display: none !important;
}

.invisible {
    /*visibility: hidden !important;*/
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.wordwrap {
    word-break: break-all;
    word-wrap: break-word;
}

.hovered {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 20px, rgba(0, 0, 0, 0.117647) 0px 1px 20px !important;
}

.global-spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.7);
  z-index: 999999999;
}

.login-btn {
    margin-top: 15px;
    box-shadow: none;
    padding: 15px;
    cursor: pointer;
    color: white;
}

.login-btn.login-google {
    background-color: #5c84f0;
}

.login-btn .login-icon {
    float: left;
    font-size: 22px;
    margin-top: -6px;
}

.edit-title-input {
    font-weight: bold;
    font-size: 18px;
    border: none;
    resize: none;
    line-height: 36px;
    margin-right: 16px;
}
.edit-title-input:focus {
    outline: none;
}

.edit-text-input {
    font-size: 14px;
    border: none;
    resize: none;
    padding-top: 16px;
    margin-right: 16px;
}
.edit-text-input:focus {
    outline: none;
}

.share-dialog {

}
.share-dialog .collabolators-search-box {

}
.share-dialog .collabolators-search-box .users-list {

}